{% extends 'base.html' %}


{% block content %}
    <h1>Sign up</h1>
    <form method="post" enctype="multipart/form-data">
    
        {% csrf_token %}
    
        <div>
            <input type="text" placeholder="first name" name="first_name" re>
        </div>
        <div>
            <input type="text" placeholder="last name" name="last_name">
        </div>
        <div>
            <input type="text" placeholder="username" name="username">
        </div>
        <div>
            <input type="password" placeholder="Enter password" name="password">
        </div>
        <div>
            <input type="password" placeholder="Confirm password" name="password2">
        </div>
        <div>
            <input type="email" placeholder="email" name="email">
        </div>

        <div>
            <button type="submit" value="submit"> Submit </button>
        </div>
    </form>
{% endblock content %}



    